@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  
}
/* --Structure Header--*/
header{
  width: 100%;
    
  background-color: grey;
  display: flex;

  padding: 0.5em;

  position: fixed;
  z-index: 1000;
}
header figure{
  flex: 1;
}
/* Structure Menu*/
nav{
  flex: 3;
}
nav ul {
    display: flex;
    justify-content: center;  
}
/* Structure lian*/
nav ul li{
  padding: 1em;
}
nav ul li a{
  color: blanchedalmond;
  text-decoration: none;
}
/* --Structure Contenu--*/

/* Structure global articles */
section article {
display: flex;
flex-direction: column;
flex-wrap: wrap;

justify-content: center;
align-items: center;
align-content: space-between;

padding: 1em;

text-align: center;
}
/* Structure global H2 */
section article h2{
  font-size: 2em;
  padding: 0.5em 0;
  color: blueviolet;
  font-family: "Monoton", sans-serif;
}
/* Structure global icon */
section article i{
 font-size: 50px;
 padding: 0.5em;
 border: 0.5px solid black;
 border-radius: 40px;
 background-color: aqua;
}
.icon{
animation: icon 0.5s ease-in-out 4;
}

@keyframes icon{
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
/* Structure section */
section#accroche{
  width: 100%;
  height: 25em;

  background-image: url(/images/00.jpg);
  background-repeat: no-repeat;       
  background-size: cover;             
  background-position: center center;
  
}
section#accroche article{
  height: 100%;
  margin: 0 25em;
}
section#accroche article h2{
  font-size: 2em;
}
section#accroche article p{
  color: blue;
}
section#accroche article button{
  margin-top: 2em;
  padding: 1em;
  background-color: blueviolet;
  border: 2px solid black;
  border-radius: 20px;
}
section#produits{
  display: flex;
}

section#contenu article{
  padding: 5em 10em;
}
/* Structure Galerie */
div#figures{
  width: 45%;
  height: 45%;

  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2em;
}
div#figures figure img{
  height: 100%;
  width: 100%;
}
div#figures figure:hover{
 border: 1.5px solid black;
  transform: scale(1.5);
 z-index: 900;
}
/* Structure footer */
footer{
  background-color: grey;
  display: flex;
  margin-top: 1em;
  align-items: center;

  padding: 0.5em;
}
footer div{
  margin-left: 20em;
  text-align: center;
}

/*Styles d’écran*/

/*Écran moyen*/
@media screen and (max-width:1000px) {
  header{
  flex-direction: column;
  padding: none;
  justify-content: center;
  align-items: center;
  }
  nav ul{
    margin: auto;
    padding: 0;
  }
  section#accroche article{
    margin: auto;
  }
  section#produits{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#contenu article{
    padding: 2em 0;
    margin: auto;
  }
  footer{
    flex-direction: column;
  padding: none;
  justify-content: center;
  align-items: center;
  }
  footer div{
    margin: auto;
  }
}
